@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

html {
    font-family: 'Nanum Gothic', sans-serif !important;
    background-color: #222629 !important;
    min-height: 1000px;
}

.uk-link, a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}
