.logoImg {
    max-width: 23%;
    height: auto;
    margin-left: 50px
}

.headerButton {
    border: 1px solid white;
    background-color: #222629;
    color: white;
    width: 100px;
    height: 40px;
}

.addMargin {
    margin-right: 50px;
}

.gap {
    margin-right: 20px;
}

.headerButton:hover {
    background-color: white;
    color: #222629;
    transition: 0.3s;
}

.header_division {
    display: block;
}

.uk-position-relative {
    height: 80px;
}

.uk-open > .uk-modal-dialog {
    background-color: #6B6E70;
    color: white;
}

.uk-modal-title {
    color: white;
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
    color:#86C232;

}

.uk-accordion-title {
    color: white;
}