.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card_left {
    float: left;
    width: 20%;
    margin-top: 25px;
}

.card_space {
    float: left;
    width: 7%;
}

.card_right {
    float: left;
    width: 73%;
}

.introCard {
    margin: auto;
}

.clear {
    clear: both;
}

.explain {
    text-align: center;
    color: white;
}

div .uk-tab > .uk-active > a {
    color: white;
    border-color: white;
}

div .uk-subnav-pill>.uk-active>a {
    background-color: #86C232;
}