.container {
    width: 80%;
    min-height: 1000px;
    margin: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.explain {
    text-align: center;
    color: white;
}

.category {
    margin-top: 100px;
}

div .uk-tab > .uk-active > a {
    color: white;
    border-color: white;
}

div .uk-subnav-pill > .uk-active > a {
    background-color: #86C232;
}

div .uk-card-default.uk-card-hover:hover {
    background-color: #6B6E70;
    box-shadow: 0 17px 22px rgba(255, 255, 255, 0.17);
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
}

div .uk-card-default {
    background-color: #222629;
    color: white;
}

div .uk-card-default .uk-card-title {
    color: white;
}

div .uk-card-default {
    box-shadow: 0 5px 15px rgba(184, 176, 181, .15);
}

.container span {
    color: white;
}

.container .md-fences {
    background-color: #6B6E70;
}

.category {
    min-height: 500px;
}

.markdown{
    width: 80%;
    margin: auto;
    color: white;
}